/*  Global Classes  */

button, button:focus{
    outline: none !important;
    box-shadow: none!important;
}


.myBtn{ // Default button on site 
    background-color: $color-primary !important;
    color: white !important;
    border-radius: 0;
    
}

.myBtn:hover{
    transition: all .3s ease;
    background-color: $color-second !important;
    letter-spacing: 1px;
}


.sizeBtn{ // CSS for size on product page 
    button {
            width: 75px;
            background-color: white;
        }
    
        button:hover {
            color: white;
            transition: all .3s ease;
            background-color: $color-primary  !important;
            letter-spacing: 1px;
        }
}


.product{  // CSS for product item card
    border-bottom-style: solid;
        border-color: rgba(0, 0, 0, 0%);
    
        &:hover {
            border-color: $color-primary;
        }
    
        a {
            overflow: hidden;
    
            &:hover {
                color: $color-primary;
                text-decoration: underline;
            }
        }
    
        img {
            transition: transform 0.3s ease;
    
            &:hover {
                transform: scale(1.05);
            }
        }
    
    
}

