#option-cards {
    img:hover {

        border-style: solid;
        border-color: $color-primary;

        h1 {
            transform: scale(1.1);
        }

    }

    a {
        text-decoration: none;
    }

    .card-body {
        height: 30%;
        width: 100%;
        padding: 0;
        text-align: center;

    }

    h1 {
        background: rgb(12, 87, 196);
        background: linear-gradient(360deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        width: 100%;
        height: 100%;
        color: white;
        

    }

    .cardBtn {
        
        background-color: white;
        
        

    }

    .cardBtn:hover {
        border-style: solid;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        


    }
}