$font-baloo: "Baloo Thambi 2", cursive;
$font-rale: "Raleway", cursive;
$font-rubik: "Rubik", cursive;
$font-signika: "Signika", cursive;
$color-primary : #0C57C4;
$color-second: #212121;
$color-white: #ffffff;
